/* In this file you can add your custom styles. */
.posts
{
  margin-top:10vh;
  width:600px;
}
.card li
{
  list-style-type: none;
  margin-top:50px;
}
.profile
{
  float:left;
  width: 400px;
  margin-right:50px;
}
.picture
{
  max-width: 600px;
  max-height:400px;
}
.edit
{
  width:100px;
  display:run-in;
}
.delete
{
  width:105px;
  display:run-in;
}
